extends layouts/main-layout.pug

block content    
    .loadingSpinnerContainer
        img(src="/images/loadingSpinner.gif", alt="Loading spinner")
    +createPostForm(userLoggedIn)
    .postsContainer
        

    +createPostModals(userLoggedIn)

block scripts
    script(src="/js/home.js")
